// ========== Для перевода px в rem ==========
@mixin font-size($size, $base: 16) {
  font-size: $size; // fallback для старых браузеров
  font-size: ($size / $base) * 1rem;
}
// Исспользование
// .title {
//     @include font-size(24px);
// }

// ========== Для media запросов ==========

$breakpoints: (
  "tablet": 768px,
  "desktop": 1200px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
// Исспользование
// .wrapper {
//   margin: 0 auto;
//   width: 100%;
//   @include screen('tablet') {
//     width: 90%;
//   }

//   @include screen('desktop') {
//     width: 85%;
//   }
// }

// ========== Для retina изображений ==========
@mixin retina($image, $width) {
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $width),
    screen and (min-resolution: 192dpi) and (min-width: $width),
    screen and (min-resolution: 2dppx) and (min-width: $width) {
    background-image: url($image);
  }
}
// Исспользование
// .logo {
//     background-image: url('img/logo.png');
//     @include retina('img/logo@2x.png', 768px);
// }

// ========== Для шрифтов ==========
@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}
@mixin font-source-sans($size: false, $weight: false, $lh: false) {
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: decimal-round($lh / $fs, 2);
  }
}
// Исспользование
// .description {
//     font-family: "Arial", sans-serif;
//     @include font-source-sans(14px, 500, 24px);
// }
