/* name|tel|email { fz16 lh16  pl42 pt=pb12 pr=12 w370 x h40 brrad4 brdr:1px solid rgba(33, 33, 33, 0.2); } */
.hero-form__input {
  height: 2.5rem; /* 40px */

  padding: rem(12px) rem(12px) rem(12px) rem(42px); /* 0.75rem 2.625rem */

  line-height: 1;
  color: var(--color-text-primary);

  border: rem(1px) solid rgba(33, 33, 33, 0.2);
  border-radius: rem(4px); /* 0.25rem */

  transition: border-color var(--time) var(--cubic);

  &:valid:not(:focus):not(:placeholder-shown) {
    border-color: #21ff21;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: #ff2121;
  }

  &:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 rem(3px) rem(2px) rgba(33, 150, 243, 0.5);

    outline: none;
  }

  &::placeholder {
    margin-bottom: rem(4px); /* 0.25rem */
    font-size: rem(12px); /* 0.75rem */
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--color-text-secondary);

    opacity: 0;
    transition: opacity var(--time) var(--cubic);
  }

  &:focus::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: var(--color-accent);
  }
}
