/* { mr12 mb94 w358 x h50  brad4 bdr1px solid rgba(255, 255, 255, 0.3); */
.subscribe-form__input {
  position: relative;
  flex-grow: 1;

  max-width: 450px;
  min-height: 3.125rem; /* 50px */
  max-height: 3.125rem; /* 50px */

  padding: 0.75rem; /* 12px */

  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
  letter-spacing: 0.03em;

  background-color: var(--color-bg-hero);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  /* E-mail */
  /* { pt=pb=15 pl=16 w47 h20 fz16 lh20 df alic lsp0.03em crgba(255, 255, 255, 0.6); } */
  &::placeholder {
    display: inline-flex;
    align-items: center;
    min-height: 1.25rem; /* 20px */
    padding: 0.9375rem 0 0.9375rem 1rem;
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
  }
}
