.subscribe-form__field {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  @include mq($end: $desktop, $mb: $uni-margin-med); /* mt20; mobile */

  @include mq($desktop, $mr: 12px); // mr.75rem
}
