/* ------------------------------------------------------ */
/* || ------------ START "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------ */
/* ------------------------------------------------------ */
/* .activities { } */
/* .activities-container { } */

main > .activities {
  padding-top: 2.9375rem;
}

.activities-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

.activity-list-item {
  position: relative;

  flex-basis: calc(100% / var(--cards-per-line-3) - var(--uni-margin));
  min-width: 15.625rem;

  justify-content: center;

  margin-top: var(--uni-margin);
  margin-left: var(--uni-margin);
}

.activity-image {
  width: clamp(15.625rem, 100%, 23.125rem);
  height: 18.375rem;
  object-fit: contain;
  object-position: bottom;
}

/* bg - activity-overlay-label */
.activity-overlay {
  position: absolute; /* label */
  bottom: 0;

  min-width: 100%;
  padding-top: calc(1rem + 11px);
  padding-right: clamp(#{"(0.4rem + 1px)"}, 2vw, #{"(1rem - 1px)"});
  padding-bottom: calc(1rem + 11px);
  padding-left: clamp(#{"(0.4rem + 1px)"}, 2vw, #{"(1rem - 1px)"});

  overflow: hidden;
  word-wrap: break-word;

  background-color: rgba(47, 48, 58, 0.8);

  &:hover,
  &:focus,
  &:active {
    overflow-y: auto;
  }
}

/* Десктопные приложения, Мобильные приложения, Дизайнерские решения, h16px */
.activity-list-label {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.17;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}

/* ------------------------------------------------------ */
/* || ------------- END "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------- */
/* ------------------------------------------------------ */
