/* ------------------------------------------------------ */
/* || ------------ START "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------ */
/* ------------------------------------------------------ */
/* .activities { } */
/* .activities__container { } */

.main__activities {
  padding-top: 2.9375rem;
}

// [0 - 767px], hide.
.activities {
  @extend %anime;

  @include mq($end: $desktop) {
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0);
  }
}

/* ------------------------------------------------------ */
/* || ------------- END "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------- */
/* ------------------------------------------------------ */
