/* ------------------------------------------------------ */
/* || ------------------ START "ГЕРОЙ" ------------------ */
/* ------------------------------------------------------ */
.main__hero {
  margin: 0 auto;
}

.hero {
  max-width: 100rem;

  padding-top: clamp(7.375rem, #{"max(12.5vw, 118px)"}, 12.5rem); /* 118px to 200px */
  padding-bottom: clamp(7.375rem, #{"max(12.5vw, 118px)"}, 12.5rem);

  text-align: center;

  background-color: var(--color-bg-hero); /* 2F303A */

  /* Img Overlay */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  $gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  /* DESKTOP */
  $desktop-bg-jpg: url(../images/squooshed/hero-bg/desktop/hero-bg-desktop-1600x600.jpg);
  $desktop-bg-jpg-2x: url(../images/squooshed/hero-bg/desktop/hero-bg-desktop-3200x1200@2x.jpg);
  $desktop-bg-webp: url(../images/squooshed/hero-bg/desktop/hero-bg-desktop-1600x600.webp);
  $desktop-bg-webp-2x: url(../images/squooshed/hero-bg/desktop/hero-bg-desktop-3200x1200@2x.webp);

  @media only screen and (min-width: map-get($breakpoints, $desktop)) {
    background-image: $gradient, $desktop-bg-jpg;
  }

  @media only screen and (min-width: map-get($breakpoints, $desktop)) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $gradient, $desktop-bg-jpg-2x;
  }

  @media only screen and (min-width: map-get($breakpoints, $desktop)) {
    background-image: $gradient, $desktop-bg-webp;
  }

  @media only screen and (min-width: map-get($breakpoints, $desktop)) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $gradient, $desktop-bg-webp-2x;
  }

  /* TABLET */
  $tablet-bg-jpg: url(../images/squooshed/hero-bg/tablet/hero-bg-tablet-768x400.jpg);
  $tablet-bg-jpg-2x: url(../images/squooshed/hero-bg/tablet/hero-bg-tablet-1536x800@2x.jpg);
  $tablet-bg-webp: url(../images/squooshed/hero-bg/tablet/hero-bg-tablet-768x400.webp);
  $tablet-bg-webp-2x: url(../images/squooshed/hero-bg/tablet/hero-bg-tablet-1536x800@2x.webp);

  @media only screen and (min-width: map-get($breakpoints, $tablet)) {
    background-image: $gradient, $tablet-bg-jpg;
  }

  @media only screen and (min-width: map-get($breakpoints, $tablet)) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $gradient, $tablet-bg-jpg-2x;
  }

  @media only screen and (min-width: map-get($breakpoints, $tablet)) {
    background-image: $gradient, $tablet-bg-webp;
  }

  @media only screen and (min-width: map-get($breakpoints, $tablet)) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $gradient, $tablet-bg-webp-2x;
  }

  /* MOBILE */
  $mobile-bg-jpg: url(../images/squooshed/hero-bg/mobile/hero-bg-mobile-480x400.jpg);
  $mobile-bg-jpg-2x: url(../images/squooshed/hero-bg/mobile/hero-bg-mobile-960x800@2x.jpg);
  $mobile-bg-webp: url(../images/squooshed/hero-bg/mobile/hero-bg-mobile-480x400.webp);
  $mobile-bg-webp-2x: url(../../images/squooshed/hero-bg/mobile/hero-bg-mobile-960x800@2x.webp);

  background-image: $gradient, $mobile-bg-jpg;

  @media only screen and (max-width: (map-get($breakpoints, $tablet) - 0.0625rem)) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: $gradient, $mobile-bg-jpg-2x;
    }
  }

  @media only screen and (max-width: (map-get($breakpoints, $tablet) - 0.0625rem)) {
    .box {
      background-image: $gradient, $mobile-bg-webp;
    }
  }

  @media only screen and (max-width: (map-get($breakpoints, $tablet) - 0.0625rem)) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: $gradient, $mobile-bg-webp-2x;
    }
  }
}

/* ------------------------------------------------------ */
/* || ------------------- END "ГЕРОЙ" ------------------- */
/* ------------------------------------------------------ */
