/* ------------------------------------------------------ */
/* || ------------------ START "ГЕРОЙ" ------------------ */
/* ------------------------------------------------------ */
.main__hero {
  margin: 0 auto;
}

.hero {
  max-width: 100rem;

  padding: clamp(rem(118px), vw(rem(118px), $tablet), rem(200px)) 0; /*  7.375rem..12.5rem */

  text-align: center;

  background-color: var(--color-bg-hero); /* 2F303A */

  /* Img Overlay */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  $gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  // p - path
  $p-bg: "url(../images/squooshed/hero-bg/";
  $p-mobile: "mobile/hero-bg-mobile-";
  $p-tablet: "tablet/hero-bg-tablet-";
  $p-desktop: "desktop/hero-bg-desktop-";
  $p-m: "480x400";
  $p-j: ".jpg)";
  $p-mr: "960x800";
  $p-x: "@2x";
  $p-w: ".webp)";
  $p-t: "768x400";
  $p-tr: "1536x800";
  $p-d: "1600x600";
  $p-dr: "3200x1200";

  /* MOBILE */
  $mobile-bg-jpg: #{$p-bg}#{$p-mobile}#{$p-m}#{$p-j};
  $mobile-bg-jpg-2x: #{$p-bg}#{$p-mobile}#{$p-mr}#{$p-x}#{$p-j};
  $mobile-bg-webp: #{$p-bg}#{$p-mobile}#{$p-m}#{$p-w};
  $mobile-bg-webp-2x: #{$p-bg}#{$p-mobile}#{$p-mr}#{$p-x}#{$p-w};

  /* TABLET */
  $tablet-bg-jpg: #{$p-bg}#{$p-tablet}#{$p-t}#{$p-j};
  $tablet-bg-jpg-2x: #{$p-bg}#{$p-tablet}#{$p-tr}#{$p-x}#{$p-j};
  $tablet-bg-webp: #{$p-bg}#{$p-tablet}#{$p-t}#{$p-w};
  $tablet-bg-webp-2x: #{$p-bg}#{$p-tablet}#{$p-tr}#{$p-x}#{$p-w};

  /* DESKTOP */
  $desktop-bg-jpg: #{$p-bg}#{$p-desktop}#{$p-d}#{$p-j};
  $desktop-bg-jpg-2x: #{$p-bg}#{$p-desktop}#{$p-dr}#{$p-x}#{$p-j};
  $desktop-bg-webp: #{$p-bg}#{$p-desktop}#{$p-d}#{$p-w};
  $desktop-bg-webp-2x: #{$p-bg}#{$p-desktop}#{$p-dr}#{$p-x}#{$p-w};

  background-image: $gradient, $mobile-bg-jpg;

  @media only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (min-device-pixel-ratio: 2),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (min-resolution: 192dpi),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (min-resolution: 2dppx) {
    background-image: $gradient, $mobile-bg-jpg-2x;
  }

  @include mq($end: $tablet) {
    background-image: $gradient, $mobile-bg-webp;
  }

  @media only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (min-device-pixel-ratio: 2),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (min-resolution: 192dpi),
    only screen and (max-width: calc( #{rem(768px) - rem(1px)} )) and (min-resolution: 2dppx) {
    background-image: $gradient, $mobile-bg-webp-2x;
  }

  /* TABLET */
  @media only screen and (min-width: map-get($breakpoints, $tablet)) {
    background-image: $gradient, $tablet-bg-jpg;
  }

  @media only screen and (min-width: map-get($breakpoints, $tablet)) and (min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (min-resolution: 192dpi),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (min-resolution: 2dppx) {
    background-image: $gradient, $tablet-bg-jpg-2x;
  }

  @media only screen and (min-width: map-get($breakpoints, $tablet)) {
    background-image: $gradient, $tablet-bg-webp;
  }

  @media only screen and (min-width: map-get($breakpoints, $tablet)) and (min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (min-resolution: 192dpi),
    only screen and (min-width: map-get($breakpoints, $tablet)) and (min-resolution: 2dppx) {
    background-image: $gradient, $tablet-bg-webp-2x;
  }

  /* DESKTOP */
  @media only screen and (min-width: map-get($breakpoints, $desktop)) {
    background-image: $gradient, $desktop-bg-jpg;
  }

  @media only screen and (min-width: map-get($breakpoints, $desktop)) and (min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (min-resolution: 192dpi),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (min-resolution: 2dppx) {
    background-image: $gradient, $desktop-bg-jpg-2x;
  }

  @media only screen and (min-width: map-get($breakpoints, $desktop)) {
    background-image: $gradient, $desktop-bg-webp;
  }

  @media only screen and (min-width: map-get($breakpoints, $desktop)) and (min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (min-resolution: 192dpi),
    only screen and (min-width: map-get($breakpoints, $desktop)) and (min-resolution: 2dppx) {
    background-image: $gradient, $desktop-bg-webp-2x;
  }
}

/* ------------------------------------------------------ */
/* || ------------------- END "ГЕРОЙ" ------------------- */
/* ------------------------------------------------------ */
