/* ------------------------------------------------------ */
/* || --------------- START "ШАПКА САЙТА" --------------- */
/* ------------------------------------------------------ */

.page-header {
  padding-top: 1.5rem; /* 24px */
  padding-bottom: 1.5rem;

  background-color: var(--color-white);
  border-bottom: 1px solid #ececec; /* Line - Декор линия*/
}

/* ------------------------------------------------------ */
/* || ---------------- END "ШАПКА САЙТА" ---------------- */
/* ------------------------------------------------------ */
