/* ------------------------------------------------------ */
/* || --------------- START "ШАПКА САЙТА" --------------- */
/* ------------------------------------------------------ */

.page-header {
  padding-top: rem(10px); /* 16px */
  padding-bottom: rem(9px);

  @include mq($desktop) {
    padding-top: rem(24px); /* 1.5rem */
    padding-bottom: rem(24px);
  }

  background-color: var(--color-white);
  border-bottom: rem(1px) solid #ececec; /* Line - Декор линия*/
}

/* ------------------------------------------------------ */
/* || ---------------- END "ШАПКА САЙТА" ---------------- */
/* ------------------------------------------------------ */
