/* ------------------------------------------------------ */
/* || -------------- START "ПОДВАЛ САЙТА" --------------- */
/* ------------------------------------------------------ */

.page-footer {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-hero);

  @extend %anime;

  @include mq($end: $desktop) {
    text-align: center; /* till desktop */
  }
}

/* ------------------------------------------------------ */
/* || -------------- END "ПОДВАЛ САЙТА" ----------------- */
/* ------------------------------------------------------ */
