/* ------------------------------------------------------ */
/* || --- START "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" -- */
/* ------------------------------------------------------ */
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: calc(-1 * var(--uni-margin));
  margin-left: calc(-1 * var(--uni-margin));
}

/* project 4 */

.portfolio-list-item {
  /* Макс. ширина карточки Проекта */
  flex-basis: calc(100% / var(--cards-per-line-3) - var(--uni-margin));
  flex-grow: 1;

  min-width: 15.625rem; /* 250px */
  width: clamp(15.625rem, 100%, var(--width-portfolio-image)); /* 250px, 100%, 450px */
  max-width: var(--width-portfolio-image); /* 450px */

  min-height: calc(
    clamp(11.875rem, 30.29vw, 18.375rem) +
      (
        (var(--line-height-project-name) * 1.125rem * 2) +
          (var(--line-height-project-type) * 1rem * 2) + 2.875rem
      )
  );
  max-height: calc(
    23.125rem +
      (
        (var(--line-height-project-name) * 1.125rem * 2) +
          (var(--line-height-project-type) * 1rem * 2) + 2.875rem
      )
  ); /* 370px + 178.16px = 548.16px */

  word-wrap: break-word;

  margin-top: var(--uni-margin); /* 30px top and left */
  margin-left: var(--uni-margin);
}

.portfolio-card {
  background-color: var(--color-white);
}

.portfolio-project-link {
  display: block;

  transition: box-shadow var(--time) var(--cubic);

  &:focus,
  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-card > .links:hover,
.portfolio-card > .links:focus {
  color: inherit;
}

.project-thumb {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  &::before {
    @extend %portfolio-card-overlay;

    z-index: var(--zi-2);
    content: "";
    background-color: rgba(33, 150, 243, 0.9);
  }
}

/* hover overlay */
%portfolio-card-overlay {
  position: absolute;
  top: 100%;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  transition: transform var(--time) var(--cubic), opacity var(--time) var(--cubic),
    visibility var(--time) var(--cubic);
}

.portfolio-project-desc {
  @extend %portfolio-card-overlay;
}

.portfolio-project-link:hover .portfolio-project-desc,
.portfolio-project-link:focus .portfolio-project-desc,
.portfolio-project-link:hover .project-thumb::before,
.portfolio-project-link:focus .project-thumb::before {
  visibility: visible;
  opacity: 1;
  transform: translateY(-100%);
}

.portfolio-image {
  width: 100%; /* 22.125rem=354px if need later */
  height: 18.375rem;
  min-width: clamp(15.625rem, 100%, var(--width-portfolio-image)); /* 250px, 100%, 450px */
}

/* Description = Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов. */
.portfolio-project-desc {
  z-index: var(--zi-3);

  padding-top: clamp(15px, 5.3vw, 63px);
  padding-right: 1.5rem;
  padding-bottom: clamp(15px, 5.3vw, 63px);
  padding-left: 1.5rem;
  overflow: hidden;
  overflow-y: auto;
  font-size: 1.125rem; /* 18px */
  line-height: 1.56; /* 28px */
  color: var(--color-white);
  letter-spacing: 0.03em;
}

.project-title {
  min-height: 110px;
  max-height: calc(
    (var(--line-height-project-name) * 18px * 2) + (var(--line-height-project-type) * 16px * 2) +
      46px
  );

  padding-top: clamp(0.625rem, 3.5vh, var(--uni-margin-med));
  padding-right: 1.4375rem; /* 23xp */
  padding-bottom: 1.1875rem; /* 19px */
  padding-left: 1.4375rem;

  overflow: hidden;

  border-right: 1px solid var(--color-bg-project-card);
  border-bottom: 1px solid var(--color-bg-project-card);
  border-left: 1px solid var(--color-bg-project-card);

  &:hover,
  &:focus {
    overflow-y: auto;
  }
}

/* "Технокряк, Постер New Orlean vs Golden Star, Ресторан Seafood, Проект Prime, Проект Boxes, Inspiration has no Borders, Издание Limited Edition, Проект LAB, Growing Business", h36px */
.portfolio-project-name {
  min-height: calc(6px + var(--uni-margin));
  max-height: calc(var(--line-height-project-name) * 18px * 2);
  margin-bottom: 4px;

  overflow: hidden;

  font-size: 18px; /* от h3 font-weight: 700; */
  line-height: var(--line-height-project-name); /* 2 = 36px = box */

  letter-spacing: 0.06em; /* От body color: #212121; */

  /* white-space: nowrap; */

  &:hover,
  &:focus,
  &:active {
    overflow-y: auto;
  }
}

/* Тип проекта: Веб-сайт, Дизайн, Приложение, Маркетинг, h30px */
.portfolio-project-type {
  min-height: var(--uni-margin);
  max-height: calc(var(--line-height-project-type) * 1rem * 2);
  margin-bottom: 0.25rem;

  overflow: hidden;

  font-size: 16px; /* from body font-weight: 400; */
  line-height: var(--line-height-project-type); /* 1.88 = 30px = box */
  color: var(--color-text-secondary); /* color: #757575; */

  &:hover,
  &:focus,
  &:active {
    overflow-y: auto;
  }
}

/* ------------------------------------------------------ */
/* || --- END "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" ---- */
/* ------------------------------------------------------ */
