/* START "Главная навигация сайта" */
// .page-header__nav { }

.nav {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__menu {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-left: rem(90px); /* 5.625rem, левый у Нав */

    @include tr("hidden");

    @include mq($end: $tablet) {
      width: 0;
      height: 0;
      visibility: hidden;
      pointer-events: none;
      transform: scale(0);
    }

    @include mq($tablet, $desktop) {
      margin-left: rem(85px); /* 5.3125rem, левый у Нав */
    }
  }

  &__item:not(:first-child) {
    margin-left: calc(var(--uni-margin-big) - 0.375rem); /* все потомки, кроме первого */
  }
}
/* END "Главная навигация сайта" */
