/* ------------------------------------------------------ */
/* || ------------- START "СТУДИЯ - ФОРМА" -------------- */

/* .form {} */

/* mb12 w370 x h60 fw700 fz20 lh30 talcenter lsp0.03em c#212121 */
.form-title {
  display: block;
  margin-bottom: calc(0.75rem + 1.125rem); /* 12px */

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

/* mb10 after input */
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.user-info > .form-field + .form-field {
  margin-top: 1.75rem; /* 10px + 14px + 4px */
}

.user-comment {
  margin-top: 10px;
}

/* name|tel|email|comment { mb4 fz12 lh14 lsp0.01em c#757575 } */
.form-label {
  margin-bottom: 0.25rem; /* 4px */
  font-size: 0.75rem; /* 12px */
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text-secondary);
  cursor: pointer;

  transition: transform var(--time) var(--cubic);
}

/* name|tel|email { fz16 lh16  pl42 pt=pb12 pr=12 w370 x h40 brrad4 brdr:1px solid rgba(33, 33, 33, 0.2); } */
.form-input {
  height: 2.5rem; /* 40px */

  padding: 0.75rem 0.75rem 0.75rem 2.625rem;

  line-height: 1;
  color: var(--color-text-primary);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.25rem;

  transition: border-color var(--time) var(--cubic);
}

.form-input:focus,
.form-comment:focus {
  border-color: var(--color-accent);
  // outline: none;
}

.form-input::placeholder {
  margin-bottom: 0.25rem; /* 4px */
  font-size: 0.75rem; /* 12px */
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text-secondary);

  opacity: 0;
  transition: opacity var(--time) var(--cubic);
}

.form-input:focus::placeholder {
  opacity: 1;
}

.user-info .svg-wrapper,
.user-info .form-label {
  position: absolute;
  top: 50%;

  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;

  pointer-events: none;

  transform: translateY(-50%);
}

.user-info .svg-wrapper {
  left: 0%;
  padding: 0.6875rem 0 0.6875rem 0.75rem;
}

.user-info .form-label {
  left: 0%;
  padding: 0.75rem 0.75rem 0.75rem 2.625rem;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  transform: translate(-2.625rem, calc(-50% - 31px));
}

.form-input:focus ~ .svg-wrapper {
  fill: var(--color-accent);
}

/* { mr12 w18 x h18 pt=pb=11 pl12 pr340 } */
.form-svg {
  transition: fill var(--time) var(--cubic);
}

.form-input:focus + label {
  fill: var(--color-accent);
}

/* textarea { mb20 p12px16px w370 x h120 fz14 lh16 lsp0.01em c: rgba(117, 117, 117, 0.5);  brd: 1px solid rgba(33, 33, 33, 0.2); b-rad4 } */
.form-comment {
  height: 7.5rem;

  padding: 0.75rem 1rem;

  line-height: 1.14;
  color: var(--color-text-primary);
  letter-spacing: 0.01em;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.25rem;

  transition: border-color var(--time) var(--cubic);
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* .group.policy { df aifs mb30} */
.policy {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;

  justify-content: center;
}

/* .form-input-checkbox { mr8 pt4 pr2 pb3 pl3  w16 x h15 c#212121} */
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 1rem;
  max-width: 1rem;
  min-height: 0.9375rem;
  max-height: 0.9375rem;

  margin-right: 0.21rem;
  background-color: var(--color-white);
  border-radius: 0.125rem;
  border: 0.125rem solid var(--color-text-primary);

  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic),
    border var(--time) var(--cubic), outline-color var(--time) var(--cubic);
}

.form-input-checkbox:focus + .form-label > .custom-checkbox {
  /* border-color: var(--color-accent); */
}

.form-input-checkbox:focus:not(:checked) + .form-label > .custom-checkbox {
  box-shadow: 0 0 4px 4px rgba(33, 150, 243, 0.5);
}

.form-input-checkbox:focus:checked + .form-label > .custom-checkbox {
  box-shadow: 0 0 3px 2px rgba(33, 150, 243, 0.5);
}

/* .form-label:hover > .custom-checkbox */
.form-input-checkbox:checked + .form-label > .custom-checkbox {
  background-color: var(--color-accent);
  border-color: transparent;
}

/* .form-input-checkbox > icon { w11.4 h8.4 bg#fff brd0.2px solid #fff; } */
.custom-checkbox > .form-svg {
  color: var(--color-white);
  pointer-events: none;

  visibility: hidden;

  opacity: 0;
  fill: currentColor;
  transition: visibility var(--time) var(--cubic), opacity var(--time) var(--cubic);
}

.form-input-checkbox:checked + .form-label > .custom-checkbox > .form-svg {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

/* .form-label-checkbox {w346 x h14 fz12 lh14 lsp0.03em c#757575 } */
/* 12 / 480  = 0.025
   12 / 768  = 0.015625
   14 / 1600 = 0.00875 */

/* 14 / 480  = 0.029167
   14 / 768  = 1.823vw
   24 / 1600 = 0.015 */
.policy > .form-label {
  font-size: clamp(12px, 2.5vw, 14px);
  line-height: clamp(14px, 2.9vw, 24px);

  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
}

.form-label > .tac-link {
  color: var(--color-accent);
}

.submit-btn-wrapper {
  margin-top: 30px;
  text-align: center;
}

/* || -------------- END "СТУДИЯ - ФОРМА" --------------- */
/* ------------------------------------------------------ */
