/* ------------------------------------------------------ */
/* || ------------- START "МОДАЛЬНОЕ ОКНО" -------------- */
/* ------------------------------------------------------ */

/* Modal window */
/* mobile.modal  { w450 x h609 mt93   ml=mr15  mb94  p40 } */
/* tablet.modal  { w450 x h609 mt208  ml=mr159 mb207 p40 } */
/* desktop.modal { w528 x h581 mt221  ml=mr536 mb222 p40 } */
.modal {
  position: relative; /* need to catch close button */

  max-width: clamp(rem(250px), 100%, rem(450px)); /* w15.625rem..33rem */
  /* mobile w250px, w450px, min-h609px */

  padding: 2.5rem;
  overflow: hidden;

  background-color: var(--color-white); /* Form bg */
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--time) var(--cubic), opacity var(--time) var(--cubic);

  .backdrop.is-hidden > & {
    transform: scale(1.21);
  }
}

.backdrop__container {
  margin-top: 93px;
  margin-bottom: 94px;

  @include mq($mobile) {
    margin-top: calc(40vw - #{rem(99px)});
    margin-bottom: calc(39.24vw - #{rem(94px)});
  }

  @include mq($tablet) {
    margin-top: calc(3.01vw + #{rem(185px)});
    margin-bottom: calc(3.47vw + #{rem(180px)});
  }

  @include mq($desktop) {
    margin-top: rem(221px);
    margin-bottom: rem(222px);
    max-width: rem(528px);
  }
}

.modal-close-btn-container {
  position: absolute;
  top: rem(8px); /* 0.5rem */
  right: rem(8px);
}

/* Ellipse 1 */
.modal-close-btn-container > .modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: rem(30px); /* 1.875rem */
  max-width: rem(30px);
  min-height: rem(30px);
  max-height: rem(30px);

  color: var(--color-black);

  padding: 0;
  background-color: var(--color-white);
  border: rem(1px) solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    color: var(--color-accent);
    background-color: var(--color-white);
  }

  &:focus {
    box-shadow: 0 0 rem(3px) rem(2px) rgba(33, 150, 243, 0.5);

    outline: none;
  }
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--time) var(--cubic);
}

/* ------------------------------------------------------ */
/* || -------------- END "МОДАЛЬНОЕ ОКНО" --------------- */
/* ------------------------------------------------------ */
