/* ------------------------------------------------------ */
/* || ------------- START "МОДАЛЬНОЕ ОКНО" -------------- */
/* ------------------------------------------------------ */

/* Modal window */
/* mobile.modal  { w450 x h609 mt93   ml=mr15  mb94  p40 } */
/* tablet.modal  { w450 x h609 mt208  ml=mr159 mb207 p40 } */
/* desktop.modal { w528 x h581 mt221  ml=mr536 mb222 p40 } */
.modal {
  position: relative; /* need to catch close button */

  width: clamp(15.625rem, 100%, 33rem); /* max w528px */
  /* min-mobile w250px, min-w450px, min-h609px */

  padding: 2.5rem;
  margin: 93px auto 94px;

  overflow: hidden;

  background-color: var(--color-white); /* Form bg */
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--time) var(--cubic), opacity var(--time) var(--cubic);

  @include mq($mobile) {
    margin-top: calc(40vw - 99px);
    margin-bottom: calc(39.24vw - 94px);
  }

  @include mq($tablet) {
    margin-top: calc(3.01vw + 185px);
    margin-bottom: calc(3.47vw + 180px);
  }

  @include mq($desktop) {
    margin-top: 221px;
    margin-bottom: 222px;
  }

  .backdrop.is-hidden > & {
    transform: scale(1.21);
  }
}

.modal-close-btn-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* Ellipse 1 */
.modal-close-btn-container > .modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 1.875rem; /* 30px */
  max-width: 1.875rem;
  min-height: 1.875rem;
  max-height: 1.875rem;

  color: var(--color-black);

  padding: 0;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--time) var(--cubic);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--color-accent);
  background-color: var(--color-white);
}

.modal-close-btn:focus {
  box-shadow: 0 0 3px 2px rgba(33, 150, 243, 0.5);

  outline: none;
}

/* ------------------------------------------------------ */
/* || -------------- END "МОДАЛЬНОЕ ОКНО" --------------- */
/* ------------------------------------------------------ */
