/* START Mobile button */
.nav__btn-mobile {
  position: absolute;
  top: 0%;
  left: 100%;

  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: 0;
  margin: 0.625rem 0.9375rem;
  margin-left: auto;

  color: var(--color-text-primary);

  background-color: #fff;
  border: none;

  transform: translateY(-50%);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-accent);
    background-color: #fff;
  }

  &:hover {
    box-shadow: none;
  }
}

.nav__icon {
  fill: currentColor;
}
/* END Mobile button */
