.activities__list {
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

.activities-list {
  @extend %list;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.activities-list__item {
  position: relative;

  flex-basis: calc(100% / var(--cards-per-line-3) - var(--gap));
  min-width: 15.625rem;

  justify-content: center;

  margin-top: var(--gap);
  margin-left: var(--gap);
}
