.portfolio-card__thumb {
  position: relative;

  overflow: hidden;

  &::before {
    @extend %portfolio-card-overlay;

    content: "";
    background-color: rgba(33, 150, 243, 0.9);
  }

  .portfolio-card__link:focus &::before,
  .portfolio-card__link:hover &::before {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
  }
}
