/* Menu,   w480, h796; */
.mobile-overlay {
  position: fixed;
  inset: 0;
  z-index: map-get($z-index, "mobile-overlay");

  font-weight: 500;
  letter-spacing: 0.02em;
  overflow-y: auto;

  /* Menu Bg */
  background-color: var(--color-white);
  box-shadow: var(--shadow-mobile-overlay);

  @include tr("hidden", $tr-time: "t");

  &.is-hidden {
    transform: translateX(100%);
  }

  @include mq($tablet) {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: rem(48px) rem(40px); /* 3rem 2.5rem */
  }
}
