.container {
  min-width: rem(250px); /* 250px Мин. и 1200px макс. ширина контейнера */
  max-width: rem(1200px); /* 75rem */
  padding-right: rem(15px); /* 0.9375rem, падинг от границы экрана */
  padding-left: rem(15px);

  margin-right: auto; /* Центрирует по ширине */
  margin-left: auto;

  @include mq($end: $tablet) {
    max-width: map_get($breakpoints, $mobile);
  }
  @include mq($tablet, $desktop) {
    max-width: map_get($breakpoints, $tablet);
  }
  @include mq($desktop) {
    max-width: map_get($breakpoints, $desktop);
  }
}
