.page-header__container,
.hero__container,
.features__container,
.activities__container,
.team__container,
.clients__container,
.portfolio__container,
.page-footer__container,
.backdrop__container,
.mobile-overlay__container {
  margin-right: auto; /* Центрирует по ширине */
  margin-left: auto;
}

.container {
  min-width: rem(250px); /* 250px Мин. и 1200px макс. ширина контейнера */
  max-width: rem(1200px); /* 75rem */
  padding-right: rem(15px); /* 0.9375rem, падинг от границы экрана */
  padding-left: rem(15px);

  padding-top: 60px;

  @extend %anime;

  @media screen and (max-width: calc( #{rem(768px)} - #{rem(1px)} )) {
    max-width: map_get($breakpoints, $mobile);
  }

  @media screen and (min-width: rem(768px)) and (max-width: calc( #{rem(1200px)} - #{rem(1px)} )) {
    max-width: map_get($breakpoints, $tablet);
  }

  @media screen and (min-width: rem(1200px)) {
    max-width: map_get($breakpoints, $desktop);
    padding-top: 94px;
  }

  // @include mq($end: $tablet) {
  //   max-width: map_get($breakpoints, $mobile);
  // }

  // @include mq($tablet, $desktop) {
  //   max-width: map_get($breakpoints, $tablet);
  // }

  // @include mq($desktop) {
  //   max-width: map_get($breakpoints, $desktop);
  // }
}
.page-header__container,
.hero__container,
.activities__container {
  padding-top: 0;
}
