/*Идейные соображения, а также начало повседневной работы по формированию позиции.
Задача организации, в особенности же рамки и место обучения кадров влечет за собой.
Равным образом консультация с широким активом в значительной степени обуславливает.
Значимость этих проблем настолько очевидна, что реализация плановых заданий. w270px, h75px */
.feature-card__paragraph {
  min-width: 15.625rem;
  max-height: 4.6875rem; /* 75px */
  overflow: hidden;

  color: var(--color-text-secondary); /* #757575 */ /* from browser font-weight: 400; */

  &:hover,
  &:focus {
    overflow-y: auto;
  }
}
