/* ------------------------------------------------------ */
/* || ------- START "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" -------- */
/* ------------------------------------------------------ */
.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: var(--uni-margin-big);
  white-space: nowrap;
}

.portfolio-filters__list {
  margin-top: -1 * rem(15px);
  margin-left: -1 * rem(8px);
}

.portfolio-filters-list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.portfolio-filters-list__item {
  margin-top: rem(15px); /* 0.9375rem; Верхний отступ между фильтрами-кнопками */
  margin-left: rem(8px); /* 0.5rem;  Левый отступ между фильтрами-кнопками */
}

/* ------------------------------------------------------ */
/* || ------- END "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ---------- */
/* ------------------------------------------------------ */
