/* mb12 w370 x h60 fw700 fz20 lh30 talcenter lsp0.03em c#212121 */
.hero-form__title {
  display: block;
  margin-bottom: 1.875rem; /* 30px */

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
