/* Menu,   w480, h796; */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: map-get($z-index, "mobile-menu");

  width: 100%;
  height: 100vh;

  pointer-events: none;
  visibility: hidden;
  background-color: var(--color-white);
  opacity: 0;

  transition: transform var(--time) var(--cubic), opacity var(--time) var(--cubic),
    visibility var(--time) var(--cubic), background-color var(--time) var(--cubic);

  &.is-open {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;

    transform: translateX(-100%);
  }
}

.btn-mobile-close {
  position: absolute;
  top: rem(10px);
  right: rem(15px);
}

.mobile-menu__container {
  padding: 48px 40px;
}
