.page-html,
.portfolio-body,
.studio-body {
  // margin: 0px !important;
  // padding: 0px !important;
  // width: 100% !important;
  // height: 100% !important;

  // overflow-x: hidden !important;
}

.page-html {
  // padding-left: 15px;
}

.page-html {
  overflow-y: scroll;

  &.no-scroll {
    overflow-y: hidden; /* STOP MOVING AROUND! */
  }
}

.studio-body {
  overflow-y: hidden;
  position: relative;

  &.no-scroll {
    overflow-y: scroll;
  }
}

/* Главная */

.studio-body,
.portfolio-body {
  font-family: var(--body-sans-serif);
  font-size: 0.875rem; /* 14px */
  line-height: 1.71; /* h24px */
  color: var(--color-text-primary); /* #212121 */
  letter-spacing: 0.03em;

  background-color: var(--color-white);
  fill: var(--color-text-primary);
}
