.container {
  min-width: 16.875rem; /* 270px Мин. и 1200px макс. ширина контейнера */
  max-width: 75rem;
  padding-right: 0.9375rem; /* 15px, Отдаляет от границы экрана */
  padding-left: 0.9375rem;

  margin-right: auto; /* Центрирует по ширине */
  margin-left: auto;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-footer__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
