.section {
  padding-top: 5.875rem; /* 94px */
  padding-bottom: 5.875rem;

  &:nth-child(2n + 4) {
    background-color: var(--color-bg-btn-secondary);
  }
}

/* Чем мы занимаемся, Наша команда, Постоянные клиенты h42px */
.section__title {
  margin-bottom: var(--uni-margin-big);

  font-size: 2.25rem; /* 36px */
  line-height: 1.17; /* 42.19px */
  text-align: center; /* from body color: #212121; from h2 = font-weight: 700; */
}
