.portfolio__list {
  // margin-top: calc(-1 * var(--gap));
  // margin-left: calc(-1 * var(--gap));
  gap: 30px;
}

.portfolio-list {
  @extend %list;

  display: grid;
  // flex-wrap: wrap;
  justify-content: center;

  @extend %anime;
}

/* project 4 */
.portfolio-list__item {
  display: flex;
  // flex-basis: calc(100% / var(--cards-per-line-1) - var(--gap));

  @include mq($tablet, $desktop) {
    // flex-basis: calc(100% / var(--cards-per-line-2) - var(--gap));
    max-width: rem(354px);
  }

  @include mq($desktop) {
    // flex-basis: calc(100% / var(--cards-per-line-3) - var(--gap));
  }

  flex-direction: column;
  flex-grow: 1;

  // width: clamp(rem(250px), 100%, var(--width-portfolio-card__image));
  /* 15.625rem, 100%, 450px */

  min-width: rem(250px); /* 15.625rem */

  /* Макс. ширина карточки Проекта */
  max-width: var(--width-portfolio-card__image); /* 450px */

  max-height: calc(
    23.125rem +
      (
        (var(--line-height-project-name) * 1.125rem * 2) +
          (var(--line-height-project-type) * 1rem * 2) + 2.875rem
      )
  ); /* 370px + 178.16px = 548.16px */

  word-wrap: break-word;

  margin-bottom: var(--gap); /* 30px top and left */
  // margin-left: var(--gap);

  @extend %anime;
}
