/* START "Футер cоц. ссылки" */
.page-footer__social-container {
  margin-top: px2rem(60px); /* for mobile */
  @include mq($tablet, $desktop, 5px, 89px, null, 165px);
  @include mq($desktop, null, 0, 93px);
}

/* присоединяйтесь, h16.41px */
.page-footer__social-title {
  margin-bottom: var(--uni-margin-med);

  font-weight: 700;
  line-height: 1.17; /* from body font-size: 14px; */
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center; /* for mobile and tablet only */

  @include mq($desktop) {
    text-align: unset;
  }
}

.page-footer__social-link {
  background: rgba(255, 255, 255, 0.1);
}

.page-footer__social-icon {
  fill: var(--color-white);
}
/* END "Футер cоц. ссылки" */
