/* START "Футер cоц. ссылки" */
.page-footer__social-container {
  @include media($mobile + 1px, $viewPort, $mt: 0, $ml: 4.375rem); /* ml70px from $mobile+1px */
  margin: 3.75rem auto 0; /* for mobile */
}

/* присоединяйтесь, h16.41px */
.page-footer__social-title {
  margin-bottom: var(--uni-margin-med);

  font-weight: 700;
  line-height: 1.17; /* from body font-size: 14px; */
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center; /* for mobile and tablet only */

  @media screen and (min-width: $tablet + 1px) {
    text-align: unset;
  }
}

.page-footer__social-link {
  background: rgba(255, 255, 255, 0.1);
}

.page-footer__social-icon {
  fill: var(--color-white);
}
/* END "Футер cоц. ссылки" */
