.body__skip-btn {
  margin-left: rem(8px); /* 0.5rem; */
}

.skip-btn {
  position: absolute;
  $skip-btn-max-height: rem(50px); /* 3.125rem */
  top: calc(-1 * #{$skip-btn-max-height});
  left: 0;
  z-index: map-get($z-index, "skip-btn");

  max-width: rem(300px); /* 18.75rem */
  max-height: $skip-btn-max-height;
  padding: rem(8px); /* 0.5rem */

  overflow: hidden;

  @include fz-lh-fw(19.36px, 23.4256px, 700);

  color: var(--color-text-primary);
  word-wrap: break-word;

  background-color: var(--color-white);
  border: rem(1px) solid transparent;
  border-radius: rem(3px);

  transition: transform var(--time) var(--cubic);

  &:focus {
    transform: translateY(121%);
  }
}
