/* Description = Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов. */
.portfolio-card__desc {
  @extend %portfolio-card-overlay;

  padding-top: clamp(15px, 5.3vw, 63px);
  padding-right: 1.5rem;
  padding-bottom: clamp(15px, 5.3vw, 63px);
  padding-left: 1.5rem;

  overflow: hidden;
  overflow-y: auto;

  font-size: 1.125rem; /* 18px */
  line-height: 1.56; /* 28px */
  color: var(--color-white);
  letter-spacing: 0.03em;

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
  }
}
