/* START "Шапка сайта - Контакты" */
.page-header__contacts-list {
  @extend %list;
  margin-left: auto;

  @include tr("hidden");

  @include mq($end: $tablet) {
    height: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0);
  }

  @include mq($desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.contacts-list {
  &__item:not(:last-child) {
    @include mq($tablet, $desktop, $mb: 10px);
    @include mq($desktop, $mr: $uni-margin-big);
  }
}

/* info@devstudio.com, +38 096 111 11 11, h16px */
.header-contact {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: rem(6px) rem(3px);

  color: var(--color-text-secondary);

  @include fz(14px, 16px, 500, 0.02em);

  @include mq($tablet, $desktop) {
    @include fz(12px, 14px); /* box */
  }

  @include mq($desktop) {
    padding-top: rem(7px); /* 0.4375rem */
  }

  &__icon-envelope {
    @include mq($desktop) {
      width: rem(16px);
      height: rem(12px);
    }

    margin-top: rem(2px); /* 0.125rem; */
    margin-bottom: rem(1px); /* 0.125rem; */
  }

  /* 14x10envelope 10x14 mr8 */
  &__icon {
    margin-right: rem(8px); /* 0.5rem; */

    @include mq($desktop, $mr: 10px); /* 0.625rem; */

    fill: currentColor;
    transition: transform var(--time) var(--cubic);

    .header-contact:hover > &,
    .header-contact:focus > & {
      transform: rotateY(180deg);
    }
  }
}

/* END "Шапка сайта - Контакты" */
