/* name|tel|email|comment { mb4 fz12 lh14 lsp0.01em c#757575 } */
.hero-form__label {
  font-size: rem(12px); /* 0.75rem */
  line-height: 1.17;
  color: var(--color-text-secondary);
  letter-spacing: 0.01em;
  cursor: pointer;

  transition: transform var(--time) var(--cubic);

  /* { mr12 w18 x h18 pt=pb=11 pl12 pr340 } */
  .hero-form__input:focus + & {
    color: var(--color-accent);
  }
}
