/* Внимание к деталям, Пунктуальность, Планирование, Современные технологии, h16.41px */
.feature-card__heading {
  max-height: 2.0475rem; /* 1.17 × 14px × 2 = 32.76px / 16px = 2.0475rem */
  margin-bottom: var(--uni-margin-min);
  display: block;

  font-size: inherit; /* from body font-size: 14px; color: #212121; */
  line-height: 1.17; /* from h3 font-weight: 700; */

  @include mq($end: $tablet) {
    // text-align: center; not animated.
    // display: flex; justify-content: center; not animated.
    // auto margins: need set width.
    // transform - is good. Will use it.
    transform: translate(50%);

    &-span {
      transform: translate(-50%);
    }
  }

  text-transform: uppercase;

  @include tr("anime");

  &:hover,
  &:focus {
    overflow-y: auto;
  }

  &-span {
    display: inline-block;
    @include tr("anime");
  }
}
