/* Главная кнопка: фон - акцент,  цвет - белый #ffffff. + тень статическая */
.btn--primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: rem(200px); /* 12.5rem */
  max-width: rem(300px); /* 18.75rem */
  min-height: rem(50px); /* 3.125rem */

  padding: rem(9px) rem(27px) rem(9px) rem(28px);

  @include fz(16px, 30px, 700, 0.06em);

  color: var(--color-white);

  background-color: var(--color-accent);
  box-shadow: var(--shadow-hero-btn);

  // Hero-Button (Hover)
  &:focus,
  &:hover {
    @extend %btn--primary-active;
  }
}
