.feature-card__svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(120px); /* 7.5rem */

  margin-bottom: var(--gap);

  background-color: var(--color-bg-btn-secondary);
  border-radius: rem(4px); /* 0.25rem */
}

.feature-card__svg {
  width: rem(70px); /* 4.375rem; */
  height: rem(70px);

  /* .antenna-circle, .clock-ticks, .diagram-bars, .astronaut-stars */
  color: var(--color-accent);
}
