/* ------------------------- START "FUNCTIONS" ------------------------- */
// || ---------- Converts px to rem ----------
// $base-fz: 16px;
// $uni-margin-med: 20px;
@function rem($val, $base: $base-fz) {
  @if (($val == auto) and $base) {
    @return (auto);
  }

  $val: ($val / ($val * 0 + 1));
  $base: ($base / ($base * 0 + 1));

  $varUnitless: ($val / $base);
  $varRem: ($varUnitless * 1rem);

  @if $varRem == 0rem {
    $varRem: (0);
  }

  @return ($varRem);
}

/* vw(30px, (rem768px)) */
@function vw($var, $vw) {
  @if ($vw and map_has_key($breakpoints, $vw)) {
    $vwValue: map-get($breakpoints, $vw);
    $result: ((($var * $precision / ($vwValue)) / $precision) * 100 * 1vw);
    @return $result;
  }
}

/* prettier-ignore */
@function c($param) { $result: ($param); @return ($result); }

/* -------------------------- END "FUNCTIONS" -------------------------- */
