/* USED CLASS NAMES LIST */

/* GENERAL SELECTORS */
body
h1
h2
h3
p
ul
li

/* BLOCK */

/* ELEMENT */

/* MODIFIER */

/* MIX */

/* HARD SELECTORS */
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-accent: #2196f3;
  --color-bg-hero: #2f303a;
  --color-bg-hero-btn: #188ce8;
  --color-bg-btn-secondary: #f5f4fa;
  --color-bg-project-card: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-icon: #afb1b8;
  --shadow-middle: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-hero-btn: 0 4px 4px rgba(0, 0, 0, 0.15);
  --body-sans-serif: "Roboto", sans-serif;
  --logo-sans-serif: "Raleway", sans-serif;
  --mob: 480px;
  --tab: 768px;
  --desk: 1600px;
  --uni-margin: 1.875rem;
  --uni-margin-big: 3.125rem;
  --uni-margin-med: 1.25rem;
  --uni-margin-small: 1.25rem;
  --uni-margin-min: 0.625rem;
  --cards-per-line-6: 6;
  --cards-per-line-4: 4;
  --cards-per-line-3: 3;
  --line-height-project-name: 2;
  --line-height-project-type: 1.88;
  --width-portfolio-card__image: 28.125rem;
  --zi-1: 1;
  --zi-2: 2;
  --zi-3: 3;
  --zi-4: 4;
  --zi-5: 5;
  --zi-6: 6;
  --zi-7: 7;
  --zi-8: 8;
  --zi-9: 9;
  --zi-10: 10;
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

.is-hidden
body .sr-only
body,
h1,
h2,
h3,
p,
ul,
li,
.links,
.btn
p
.list
.image
.links
.svg
.tooltip
.svg:focus,
.btn:focus,
.btn--primary:focus,
.btn--secondary:focus,
.btn-mobile:focus,
.skip-link:focus,
.page-header .links:focus,
.page-header .nav__link:focus
.btn:focus .links:focus,
.hero-btn:focus,
.activities .links:focus,
.team .links:focus,
.team .social-list__link:focus,
.portfolio .links:focus,
.page-footer .links:focus,
.page-footer .social-list__link:focus,
.page-footer .btn:focus,
.client-card__link:focus,
.clients .links:focus,
.clients .client-card__link:focus
.accent,
.links:hover,
.links:focus
.page-html
.page-html.no-scroll
.studio-body
.studio-body.no-scroll
.portfolio-body
body
.container
.page-header > .container
.page-footer > .container
.section
.section:nth-child(2n + 4)
.section__title
rotate {}
rotate-box {}
scalingUp {}
body > .skip-link
body > .skip-link:focus
.page-header__nav
.nav__menu
.nav__item:not(:first-child)
.btn-mobile
.btn-mobile.is-hidden
.btn-mobile__icon
.logo
.logo:hover,
.logo:focus
.logo__web-studio
.logo:hover .logo__web-studio,
.logo:focus .logo__web-studio
.logo__last-part--inverse
.logo__web-studio.black
.white
.black
.nav__link
.nav__link::before
.nav__link--current::after
.nav__link-overlay
.btn
.btn--primary
.btn--secondary
.page-header__nav .btn--secondary:hover,
.page-header__nav .btn--secondary:focus,
.page-header__nav .btn--secondary:active
.page-header__nav .btn--secondary:hover
.page-header__contacts-list
.page-header__contacts-list .contact-item + .contact-item
.header-contact
.header-contact-icon
.header-contact:hover > .header-contact-icon,
.header-contact:focus > .header-contact-icon
.icon-envelope
.social-list
.social-list__item
.social-list__link
.social-list__link:focus,
.social-list__link:hover
.social-list__icon
.social-list__link:focus .social-list__icon,
.social-list__link:hover .social-list__icon
.backdrop
.modal
.backdrop.is-hidden > .modal
.modal-close-btn-container
.modal-close-btn-container > .modal-close-btn
.modal-close-icon
.modal-close-btn-container > .modal-close-btn:hover,
.modal-close-btn-container > .modal-close-btn:focus
.form-title
.form-field
.user-info > .form-field + .form-field
.user-comment
.form-label
.form-input
.form-input:focus,
.form-comment:focus
.form-input::placeholder
.user-info .svg-wrapper,
.user-info .form-label
.user-info .svg-wrapper
.user-info .form-label
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label
.form-input:focus ~ .svg-wrapper
.form-svg
.form-input:focus + label
.form-comment
.form-comment::placeholder
.policy
.custom-checkbox
.form-input-checkbox:focus:not(:checked) + .form-label > .custom-checkbox
.form-input-checkbox:focus:checked + .form-label > .custom-checkbox
.form-input-checkbox:checked + .form-label > .custom-checkbox
.custom-checkbox > .form-svg
.form-input-checkbox:checked + .form-label > .custom-checkbox > .form-svg
.policy > .form-label
.form-label > .tac-link
.submit-btn-wrapper
.portfolio-filters
.portfolio-filters-list
.portfolio-filters-list__item
.page-header
.main__hero
.hero__title
.hero__btn
.main__features
.features-list
.features-list__item
.features-list__item::before
.feature-card__svg
.feature-card__heading
.feature-card__heading:hover,
.feature-card__heading:focus
.feature-card__paragraph
.feature-card__paragraph:hover,
.feature-card__paragraph:focus
.main__activities
.activities-list
.activities-list__item
.activity-card__image
.activity-card__overlay
.activity-card__overlay:hover,
.activity-card__overlay:focus,
.activity-card__overlay:active
.activity-card__title
.team
.designers-list
.designers-list__item
.designer-card
.designer-card__photo
.designer-card__meta
.designer-card__name
.designer-card__name:hover
.designer-card__role
.designer-card__role:hover
.clients-list
.clients-list__item
.client-card__link
.client-card__icon
.client-card__link:hover,
.client-card__link:focus
.client-card__link:hover .client-card__icon,
.client-card__link:focus .client-card__icon
.portfolio-list
.portfolio-list__item
.portfolio-card
.portfolio-card__link
.portfolio-card__link:focus,
.portfolio-card__link:hover
.portfolio-card > .links:hover,
.portfolio-card > .links:focus
.portfolio-card__thumb
.portfolio-card__thumb::before
.portfolio-card__thumb::before,
.portfolio-card__desc
.portfolio-card__link:hover .portfolio-card__desc,
.portfolio-card__link:focus .portfolio-card__desc,
.portfolio-card__link:hover .portfolio-card__thumb::before,
.portfolio-card__link:focus .portfolio-card__thumb::before
.portfolio-card__image
.portfolio-card__desc
.portfolio-card__meta
.portfolio-card__meta:hover,
.portfolio-card__meta:focus
.portfolio-card__name
.portfolio-card__name:hover,
.portfolio-card__name:focus,
.portfolio-card__name:active
.portfolio-card__type
.portfolio-card__type:hover,
.portfolio-card__type:focus,
.portfolio-card__type:active
.page-footer
.page-footer__address
.page-footer__address-list .page-footer__address-item + .page-footer__address-item
.footer-map-pointer
.footer-contact
.page-footer__social-container
.page-footer__social-title
.page-footer__social-link
.page-footer__social-icon
.subscribe-form-wrapper
.subscribe-form__title
.subscribe-form > .group
.group.subscribe
.subscribe-form__field
.subscribe-input
.subscribe-input::placeholder
.subscribe-btn
.subscribe-btn .send-icon
.subscribe-btn:hover > .send-icon,
.subscribe-btn:focus > .send-icon
send-icon-fly {}
send-icon-return {}
.nav__link,
.header-contact
.nav__link::before,
.nav__link-overlay
.nav__link::before,
.nav__link:focus > .nav__link-overlay,
.nav__link:hover > .nav__link-overlay
.nav__link:focus::before,
.nav__link:hover::before,
.nav__link--current::before,
.nav__link-overlay
.btn--secondary:hover,
.btn--secondary:focus,
.current-btn
.btn--primary:focus,
.btn--primary:hover,
.current-btn:focus,
.current-btn:hover
