/* ------------------------- START "MIXINS" ------------------------- */
// Media Query + Margins
@mixin mq($start: null, $end: null, $mt: null, $mr: null, $mb: null, $ml: null) {
  @if ($end and map_has_key($breakpoints, $end)) {
    $maxWidth: map_get($breakpoints, $end);
    $upToMaxWidth: $maxWidth - rem(1px);

    @if ($start and map_has_key($breakpoints, $start)) {
      $minWidth: map_get($breakpoints, $start);

      @media screen and (min-width: $minWidth) and (max-width: $upToMaxWidth) {
        @include margins($mt, $mr, $mb, $ml);

        @content;
      }
    } @else {
      @media screen and (max-width: $upToMaxWidth) {
        @include margins($mt, $mr, $mb, $ml);

        @content;
      }
    }
  } @else if ($start and map_has_key($breakpoints, $start)) {
    $minWidth: map_get($breakpoints, $start);

    @media screen and (min-width: $minWidth) {
      @include margins($mt, $mr, $mb, $ml);

      @content;
    }
  }
}

// Margin converter
/* prettier-ignore */
@mixin margins($mt: null, $mr: null, $mb: null, $ml: null) {
  $margins: ("top": $mt, "right": $mr, "bottom": $mb, "left": $ml,);
  @each $side, $direction in $margins { @if map-get($margins, $side) {
      #{margin-#{$side}}: rem(map-get($margins, $side)); }}}

// ========== Для media запросов ==========

/* MEDIA */

// .mixin-title  { @include font();                  color: tomato; }
// .mixin-title2 { @include font(24px, 700, 28.8px); color: tomato; }
// .mixin-title3 { @include font($fw: 700);          color: tomato; }

// @mixin colorize($colors-second, $baseSelector) {
//   @each $color in $colors-second {
//     $idx: index($colors-second, $color);

//     #{$baseSelector}:nth-child(#{$idx}) {
//       background-color: #{$color};
//     }
//   }
// }

// $colors-second: "#795548", "#607D8B", "#7B1FA2";
// @include colorize($colors-second, ".reviews-item");

// $colors-second: "#F44336", "#3F51B5", "#4CAf50", "#00BCD4", "#E91E63", "#009688";
// @include colorize($colors-second, ".features-list__item");

/* prettier-ignore */
@mixin fz($fz: null, $lh: null, $fw: null, $ls: null, $clr: null, $teo: null) {
  @if $fz { font-size: rem($fz); }
  @if $fw { font-weight: $fw; }
  @if ($fz and $lh and comparable($fz, $lh)) {
    line-height: (round($lh * $precision / $fz)) / $precision;
  } @else if ($fz == null) { $fz: $base-fz-body;
    @if $lh and comparable($fz, $lh) { line-height: (round($lh * $precision / $fz)) / $precision; }}
  @if $clr { color: $clr; } @if $teo { text-overflow: $teo; } @if $ls { letter-spacing: $ls; }
}

@mixin tr($tr-key: "card", $tr-time: "time", $tr-map: $tr) {
  transition-property: unquote(map-get($tr-map, $tr-key));
  transition: map-get($tr-map, $tr-time) map-get($tr-map, "cubic");
}

/* -------------------------- END "MIXINS" -------------------------- */

/* Component mixins */

/*  btn mixin / placeholder */
/* Миксин кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг", h26px */

/* prettier-ignore */
@mixin btn(
  $pos: null, $top: null, $right: null, $bottom: null, $left: null, $zi: null,
  $mnw: null, $mxw: null, $mnh:   null, $mxh:    null,
  $pt:  null, $pr:  null, $pb:    null, $pl:     null,

  $over: null,
  $bgc: null,
  $bw: null, $bs: null, $bc: null, $brad: null,

  $fz: null, $lh: null, $fw: null, $ls: null, $clr: null, $teo: null,
  $wwbw: null, $cur: null,
  $trp: null, $trdr: null
) {
  @if $pos    { position:       $pos;        }  @if $top    { top:           rem($top);                  }
  @if $right  { right:          rem($right); }  @if $bottom { bottom:        rem($bottom);               }
  @if $left   { left:           rem($left);  }  @if $zi     { z-index:       $zi;                        }
  @if $mnw    { min-width:      rem($mnw);   }  @if $mxw    { max-width:     rem($mxw);                  }
  @if $mnh    { min-height:     rem($mnh);   }  @if $mxh    { max-height:    rem($mxh);                  }
  @if ($pt or $pr or $pb or $pl) {
    @if (($pt == $pb) and ($pb == $pr) and ($pr == $pl)) { padding: rem($pt);                            }
      @else if (($pt == $pb) and ($pr == $pl))           { padding: rem($pt) rem($pr);                   }
      @else if (
        (
          (
          ($pt != $pb) and (($pt and $pb) != null)
          ) and (
              ($pr == $pl) and ($pr != null)
            )
        ) or (
            (
            ($pr != $pl) and (($pr and $pl) != null)
            ) and (
                ($pt == $pb) and ($pt != null)
              )
          )
      )                                                  { padding: rem($pt) rem($pr) rem($pb); }
      @else if (
        (
          ($pt != $pb) and (($pt and $pb) != null)
        )
        and
        (
          ($pr != $pl) and (($pr and $pl) != null)
        )
      )                                                  { padding: rem($pt) rem($pr) rem($pb) rem($pl); }

        @else {
          @if $pt { padding-top:    rem($pt); } @if $pr { padding-right: rem($pr); }
          @if $pb { padding-bottom: rem($pb); } @if $pl { padding-left:  rem($pl); }
        }
  }

          @if $over     { overflow:                   $over;            }
          @if $bgc      { background-color:           $bgc;             }

          @if (($bw and $bs and $bc) != null)
                        { border:                     rem($bw) $bs $bc; }
            @else {
              @if $bw   { border-width:               rem($bw);         }
              @if $bs   { border-style:               $bs;              }
              @if $bc   { border-color:               $bc;              }
            }
          @if $brad     { border-radius:              rem($brad);       }

          @include fz($fz, $lh, $fw, $ls, $clr, $teo);


          @if $wwbw     { word-wrap: $wwbw;                             }
          @if $cur      { cursor: $cur;                                 }

          @if $trp      { @include tr($trp, $trdr);                     }

          @content;
}
