/* ------------------------- START "MIXINS" ------------------------- */
// Media Query + Margins
@mixin mq($start: null, $end: null, $mt: null, $mr: null, $mb: null, $ml: null) {
  @if ($end and map_has_key($breakpoints, $end)) {
    $maxWidth: map_get($breakpoints, $end);
    $upToMaxWidth: $maxWidth - rem(1px);

    @if ($start and map_has_key($breakpoints, $start)) {
      $minWidth: map_get($breakpoints, $start);

      @media screen and (min-width: $minWidth) and (max-width: $upToMaxWidth) {
        @include margins($mt, $mr, $mb, $ml);

        @content;
      }
    } @else {
      @media screen and (max-width: $upToMaxWidth) {
        @include margins($mt, $mr, $mb, $ml);

        @content;
      }
    }
  } @else if ($start and map_has_key($breakpoints, $start)) {
    $minWidth: map_get($breakpoints, $start);

    @media screen and (min-width: $minWidth) {
      @include margins($mt, $mr, $mb, $ml);

      @content;
    }
  }
}

// Margin converter
@mixin margins($mt: null, $mr: null, $mb: null, $ml: null) {
  $margins: (
    "top": $mt,
    "right": $mr,
    "bottom": $mb,
    "left": $ml,
  );

  @each $side, $direction in $margins {
    @if map-get($margins, $side) {
      #{margin-#{$side}}: rem(map-get($margins, $side));
    }
  }
}

// ========== Для media запросов ==========

/* MEDIA */

// .mixin-title  { @include font();                  color: tomato; }
// .mixin-title2 { @include font(24px, 700, 28.8px); color: tomato; }
// .mixin-title3 { @include font($fw: 700);          color: tomato; }

// @mixin colorize($colors-second, $baseSelector) {
//   @each $color in $colors-second {
//     $idx: index($colors-second, $color);

//     #{$baseSelector}:nth-child(#{$idx}) {
//       background-color: #{$color};
//     }
//   }
// }

// $colors-second: "#795548", "#607D8B", "#7B1FA2";
// @include colorize($colors-second, ".reviews-item");

// $colors-second: "#F44336", "#3F51B5", "#4CAf50", "#00BCD4", "#E91E63", "#009688";
// @include colorize($colors-second, ".features-list__item");

@mixin fz($fz: null, $lh: null, $fw: null, $ls: null) {
  @if $fz {
    font-size: rem($fz);
  }

  @if $fw {
    font-weight: $fw;
  }

  @if ($fz and $lh and comparable($fz, $lh)) {
    line-height: (round($lh * $precision / $fz)) / $precision;
  } @else if ($fz == null) {
    $fz: $base-fz-body;
    @if $lh and comparable($fz, $lh) {
      line-height: (round($lh * $precision / $fz)) / $precision;
    }
  }

  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin tr($tr-key: "card", $tr-time: "time", $tr-map: $tr) {
  transition-property: unquote(map-get($tr-map, $tr-key));
  transition: map-get($tr-map, $tr-time) map-get($tr-map, "cubic");
}

/* -------------------------- END "MIXINS" -------------------------- */

/* Component mixins */

/*  btn mixin / placeholder */
/* Миксин кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг", h26px */

/* prettier-ignore */
@mixin btn(
  $pos: null, $top: null, $right: null, $bottom: null, $left: null, $zi: null,
  $mnw: null, $mxw: null, $mnh:   null, $mxh:    null,
  $pt:  null, $pr:  null, $pb:    null, $pl:     null,

  $over: null,
) {
  @if $pos    { position:       $pos;     }  @if $top    { top:           $top;     }
  @if $right  { right:          $right;   }  @if $bottom { bottom:        $bottom;  }
  @if $left   { left:           $left;    }  @if $zi     { z-index:       $zi;      }
  @if $mnw    { min-width:      $mnw;     }  @if $mxw    { max-width:     $mxw;     }
  @if $mnh    { min-height:     $mnh;     }  @if $mxh    { max-height:    $mxh;     }
  @if ($pt or $pr or $pb or $pl) {
    @if (($pt == $pb) and ($pb == $pr) and ($pr == $pl)) { padding: rem($pt);                            }
      @else if (($pt == $pb) and ($pr == $pl))           { padding: rem($pt) rem($pr);                   }
      @else if (
        (
          (
          ($pt != $pb) and (($pt and $pb) != null)
          ) and (
              ($pr == $pl) and ($pr != null)
            )
        ) or (
            (
            ($pr != $pl) and (($pr and $pl) != null)
            ) and (
                ($pt == $pb) and ($pt != null)
              )
          )
      )                                                  { padding: rem($pt) rem($pr) rem($pb); }
      @else if (
        (
          ($pt != $pb) and (($pt and $pb) != null)
        )
        and
        (
          ($pr != $pl) and (($pr and $pl) != null)
        )
      )                                                  { padding: rem($pt) rem($pr) rem($pb) rem($pl); }

        @else {
          @if $pt { padding-top:    rem($pt); } @if $pr { padding-right: rem($pr); }
          @if $pb { padding-bottom: rem($pb); } @if $pl { padding-left:  rem($pl); }
        }
  }






  @if $over   { overflow:   $over;  }

  @include fz(16px, 26px, 500, 0.03em);
  color: var(--color-text-primary);

  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;

  background-color: var(--color-bg-btn-secondary);
  border: rem(1px) solid transparent;
  border-radius: rem(4px);

  transition: background-color var(--time) var(--cubic);

  @content;
}

@mixin btn-static {
  position: relative;
  max-width: rem(300px); /* 31.25rem; */
  min-height: rem(36px); /* 2.25rem; */
  max-height: rem(50px); /* 3.125rem; */
  overflow: hidden;

  @include fz(16px, 26px, 500, 0.03em);
  color: var(--color-text-primary);

  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;

  background-color: var(--color-bg-btn-secondary);
  border: rem(1px) solid transparent;
  border-radius: rem(4px);

  transition: background-color var(--time) var(--cubic);
}
