@mixin media(
  $start: $mobile,
  $end: $tablet,
  $mt: initial,
  $mr: initial,
  $mb: initial,
  $ml: initial
) {
  @media screen and (min-width: #{$start}) and (max-width: #{$end}) {
    margin-top: $mt;
    margin-right: $mr;
    margin-bottom: $mb;
    margin-left: $ml;
  }
}

@mixin font($fs: 18px, $fw: 400, $lh: 24px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: (round($lh * 1000 / $fs)) / 1000;
}

.mixin-title {
  @include font();
  color: tomato;
}

.mixin-title2 {
  @include font(24px, 700, 28.8px);
  color: tomato;
}

.mixin-title3 {
  @include font($fw: 700);
  color: tomato;
}

.mixin-title4 {
  @include font();
  color: tomato;
}

@mixin colorize($colors-second, $baseSelector) {
  @each $color in $colors-second {
    $idx: index($colors-second, $color);

    #{$baseSelector}:nth-child(#{$idx}) {
      background-color: #{$color};
    }
  }
}

$colors-second: "#795548", "#607D8B", "#7B1FA2";
@include colorize($colors-second, ".reviews-item");

$colors-second: "#F44336", "#3F51B5", "#4CAf50", "#00BCD4", "#E91E63", "#009688";
@include colorize($colors-second, ".features-item");
