%list {
  list-style: none;
}

/* Вторичная кнопка по наведению: текст белый, фон - акцент, + тень (динамическая) */
%btn--secondary-active {
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: var(--shadow-middle);
}

/* Главная кнопка - активна */
%btn--primary-active {
  background-color: var(--color-bg-hero-btn);
}

/* hover overlay */
%portfolio-card-overlay {
  position: absolute;
  inset: 100% 0 0;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  transition: transform var(--time) var(--cubic), opacity var(--time) var(--cubic),
    visibility var(--time) var(--cubic);
}

%anime {
  @include tr("uni", "time", $tr);
}
