/* Position, Block model, Typography, Visual, Other */

/* .project-stats-languages {
  --homework-name: "hw-07";
  --date: "2021-Jul-20 12:47";
  --SCSS: 39.0%;
  --HTML: 55.4%;
  --JavaScript: 5.6%;
  --file-lines-css: 1886;
  --file-lines: "_btn.scss: 150";
} */

/* ------------------------------------------------------ */
/* || -------------- START "SITE TESTING" --------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- END "SITE TESTING" ---------------- */
/* ------------------------------------------------------ */
