/* ------------------------------------------------------ */
/* || --------------- START "ПЕРЕМЕННЫЕ" ---------------- */
/* ------------------------------------------------------ */
$base-fz: 16px;
$base-fz-body: 14px;
$precision: (10 * 3);

$uni-margin-big: 50px;
$uni-margin: 30px;
$uni-margin-med: 20px;
$uni-margin-min: 10px;

$uni-pad-big: 94px;
$uni-pad-med: 60px;

:root {
  /* || --------------- START "ТИПОГРАФИЯ" ---------------- */
  --body-sans-serif: "Roboto", sans-serif;
  --logo-sans-serif: "Raleway", sans-serif;
  /* || ---------------- END "ТИПОГРАФИЯ" ----------------- */

  /* || ----------------- START "ПАЛИТРА" ----------------- */
  --color-text-primary: #212121; /* Основной текст #212121 (nav, h2, h3, filters-btn) */
  --color-text-secondary: #757575; /* Вторичный цвет текста #757575 */
  --color-accent: #2196f3; /* Акцент #2196F3, "Web" в Лого */
  --color-bg-hero: #2f303a;
  --color-bg-hero-btn: #188ce8;
  --color-bg-btn-secondary: #f5f4fa;
  --color-bg-project-card: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-icon: #afb1b8;
  --shadow-middle: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  /* Динамическая тень по наведению - shadow-middle */
  /* Тень активной кнопки (статическая) - shadow-middle */
  --shadow-hero-btn: 0 4px 4px rgba(0, 0, 0, 0.15); /* Тень Кнопки-героя (статическая) */
  --shadow-mobile-overlay: 0 4px 8px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.16);
  /* || ------------------ END "ПАЛИТРА" ------------------ */

  /* || ----------------- START "ОТСТУПЫ" ----------------- */
  --uni-margin: 1.875rem; /* Универсальное значение высоты и отступов, нижний отступ у H1 */

  /* Правый отступ между ссылками Главной навигации, and между ссылками Контактов в Хедере */
  /* Нижний отступ между заголовком h2 и секциями "Чем мы занимаемся" и "Наша команда", and между Фильтрами и Projects */
  --uni-margin-big: 3.125rem;

  --uni-margin-med: 1.25rem; /* 1.25rem */
  /* Верхний отступ между адресом и Лого в Футере */
  /* Левый отступ между контейнерами ссылок на соц. сети и адресом в Футере */

  /* Нижний отступ между именем и ролью дизайнера, and между оглавлением (h3) и параграфом Особенностей */
  --uni-margin-min: 0.625rem;

  /* Кол-во карточек features, designers и projects на мобильном */
  --cards-per-line-1: 1;

  /* Кол-во карточек features, designers, clients и projects на планшете */
  --cards-per-line-2: 2;

  /* Кол-во карточек clients на планшете, а также activities и projects на пк в одной линии. */
  --cards-per-line-3: 3;

  /* Кол-во карточек features и designer на пк в одной линии. */
  --cards-per-line-4: 4;

  /* Кол-во карточек clients на пк в одной линий */
  --cards-per-line-6: 6;

  --gap: 1.875rem;
  --line-height-project-name: 2;
  --line-height-project-type: 1.88;
  --width-portfolio-card__image: 28.125rem;

  /* || ------------------ END "ОТСТУПЫ" ------------------ */

  /* || ---------------- START "АНИМАЦИЯ" ----------------- */
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  /* || ----------------- END "АНИМАЦИЯ" ------------------ */
}
/* ------------------------------------------------------ */
/* || ---------------- END "ПЕРЕМЕННЫЕ" ----------------- */
/* ------------------------------------------------------ */

/* || --------------- START "SASS COLORS" --------------- */
$colors: (
  "text-primary": var(--color-text-primary),
  "text-secondary": var(--color-text-secondary),
  "accent": var(--color-accent),
  "bg-hero": var(--color-bg-hero),
  "bg-hero-btn": var(--color-bg-hero-btn),
  "bg-btn-secondary": var(--color-bg-btn-secondary),
  "bg-project-card": var(--color-bg-project-card),
  "white": var(--color-white),
  "black": var(--color-black),
  "icon": var(--color-icon),
  "shadow-middle": var(--shadow-middle),
  "shadow-hero-btn": var(--shadow-hero-btn),
  "shadow-mobile-overlay": var(--shadow-mobile-overlay),
  "dev-tools": #202124,
);

@function color($key: null, $map: $colors) {
  @if ($key != null) {
    @return map-get($map, $key);
  }
}

$theme-dark: (
  "logo-last-part": color("white"),
  "nav__link-color": color("white"),
  "nav__link-bg": color("black"),
  "nav__link-overlay-bg": color("icon"),
  "dev-tools": color("dev-tools"),
  "body-color": color("bg-project-card"),
  "body-bg": color("dev-tools"),
  "feature-card__svg-color": color("accent"),
  "feature-card__svg-fill": color("bg-btn-secondary"),
  "feature-card__svg-wrapper-bg": color("bg-hero"),
  "section-title": color("icon"),
  "section-bg-nth-child": color("text-primary"),
  "portfolio-filter-color": color("bg-project-card"),
  "portfolio-filter-bg": color("bg-hero"),
  "portfolio-card-bg": color("bg-hero"),
  "btn-mobile-close-color": color("icon"),
  "btn-mobile-close-bg": color("icon"),
  "social-card-color": color("bg-project-card"),
  "social-card-bg": color("bg-hero"),
);

$colorsValues: map-values($colors);
@function getColorValue($key: null) {
  @return nth($colorsValues, $key);
}

/* map-get($colors, $key) */

/* || ---------------- END "SASS COLORS" ---------------- */

$z-index: (
  "zi-01": 1,
  "skip-btn": 2,
  "portfolio-card__thumb::before": 3,
  "portfolio-card__desc": 4,
  "nav__link::after": 5,
  "zi-06": 6,
  "zi-07": 7,
  "zi-08": 8,
  "zi-09": 9,
  "backdrop": 10,
  "mobile-overlay": 20,
);

// .universal-transition {
//   transition-property: position, top, right, bottom, left, display, flex, flex-basis, width,
//     min-width, max-width, height, min-height, max-height, padding, margin, font-size, line-height,
//     color, background, border, outline, transform, fill;
// }

$tr: (
  "uni":
    "position, top, right, bottom, left, display, flex, flex-basis, width, min-width, max-width, height, min-height, max-height, padding, margin, font-size, line-height, color, background, border, outline, transform, fill",
  "hero-bg": "background, width, height, flex, padding",
  "hidden": "width, height, margin, flex, visibility, opacity, transform, background-color",
  "link": "color, background-color",
  "btn": "color, background-color, box-shadow",
  "card": "width, height, flex",
  "text": "font-size, line-height",
  "both": "width, height, flex, font-size, line-height",
  "anime": "transform",
  "t": var(--time),
  "tt": calc(var(--time) * 2),
  "time": calc(var(--time) * 4),
  "cubic": var(--cubic),
);

$t: top;
$r: right;
$b: bottom;
$l: left;
