/* ------------------------------------------------------ */
/* || --------------- START "ПЕРЕМЕННЫЕ" ---------------- */
/* ------------------------------------------------------ */
$base-fz: 16px;
$uni-margin-med: 20px;

:root {
  /* || --------------- START "ТИПОГРАФИЯ" ---------------- */
  --body-sans-serif: "Roboto", sans-serif;
  --logo-sans-serif: "Raleway", sans-serif;
  /* || ---------------- END "ТИПОГРАФИЯ" ----------------- */

  /* || ----------------- START "ПАЛИТРА" ----------------- */
  --color-text-primary: #212121; /* Основной текст #212121 (nav, h2, h3, filters-btn) */
  --color-text-secondary: #757575; /* Вторичный цвет текста #757575 */
  --color-accent: #2196f3; /* Акцент #2196F3, "Web" в Лого */
  --color-bg-hero: #2f303a;
  --color-bg-hero-btn: #188ce8;
  --color-bg-btn-secondary: #f5f4fa;
  --color-bg-project-card: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-icon: #afb1b8;
  --shadow-middle: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  /* Динамическая тень по наведению - shadow-middle */
  /* Тень активной кнопки (статическая) - shadow-middle */
  --shadow-hero-btn: 0 4px 4px rgba(0, 0, 0, 0.15); /* Тень Кнопки-героя (статическая) */

  /* || ------------------ END "ПАЛИТРА" ------------------ */

  /* || ----------------- START "ОТСТУПЫ" ----------------- */
  --mob: 480px;
  --tab: 768px;
  --desk: 1600px;
  --uni-margin: 1.875rem; /* Универсальное значение высоты и отступов, нижний отступ у H1 */

  /* Правый отступ между ссылками Главной навигации, and между ссылками Контактов в Хедере */
  /* Нижний отступ между заголовком h2 и секциями "Чем мы занимаемся" и "Наша команда", and между Фильтрами и Projects */
  --uni-margin-big: 3.125rem;

  --uni-margin-med: 1.25rem; /* 1.25rem */
  /* Верхний отступ между адресом и Лого в Футере */
  /* Левый отступ между контейнерами ссылок на соц. сети и адресом в Футере */
  --uni-margin-small: 1.25rem;
  /* Нижний отступ между именем и ролью дизайнера, and между оглавлением (h3) и параграфом Особенностей */
  --uni-margin-min: 0.625rem;

  /* Постоянные клиенты */
  --cards-per-line-6: 6;

  /* Кол-во карточек Особенностей, Дизайнеров на одной линии. */
  --cards-per-line-4: 4;

  /* Кол-во карточек Активностей, Проектов на одной линии. */
  --cards-per-line-3: 3;

  --line-height-project-name: 2;
  --line-height-project-type: 1.88;
  --width-portfolio-card__image: 28.125rem;

  /* || ------------------ END "ОТСТУПЫ" ------------------ */

  /* || ---------------- START "АНИМАЦИЯ" ----------------- */

  --zi-1: 1;
  --zi-2: 2;
  --zi-3: 3;
  --zi-4: 4;
  --zi-5: 5;
  --zi-6: 6;
  --zi-7: 7;
  --zi-8: 8;
  --zi-9: 9;
  --zi-10: 10;

  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  /* || ----------------- END "АНИМАЦИЯ" ------------------ */
}
/* ------------------------------------------------------ */
/* || ---------------- END "ПЕРЕМЕННЫЕ" ----------------- */
/* ------------------------------------------------------ */
