.page-footer__container {
  @include mq($desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.page-footer__top-row-wrapper {
  @include mq($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @include mq($desktop) {
    justify-content: flex-start;
  }
}
