/* Подписаться */
.subscribe-btn {
  &__send-icon {
    margin-left: rem(10px); /* 0.625rem */
    fill: currentColor;

    animation: send-icon-return var(--time) var(--cubic) 1 backwards;

    /* transform: rotate(-1deg) scale(1); */
    transform-origin: top left;
    transition: currentColor var(--time) var(--cubic);
  }

  &:hover &__send-icon,
  &:focus &__send-icon {
    animation: send-icon-fly var(--time) var(--cubic) 1 forwards;
  }
}
