/* Шаблон кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг", h26px */
.btn {
  position: relative;

  max-width: 31.25rem; /* 500px */
  min-height: 2.25rem; /* 36px */
  max-height: 3.125rem; /* 50px */

  padding: 0.3125rem 1.3125rem; /* pt=pb=5px */ /* pr=pl=21px */
  text-overflow: ellipsis;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625; /* 26px */
  letter-spacing: 0.03em;
  word-wrap: break-word;

  cursor: pointer;
  border: 1px solid transparent;

  border-radius: 4px;
  /* Inherits color: #212121; and background-color: #f5f4fa; in normal state and color: #ffffff; and background-color: #2196f3; on Hover Focus from .btn--secondary */

  transition: background-color var(--time) var(--cubic);
}

/* Главная кнопка: фон - акцент,  цвет - белый #ffffff. + тень статическая */
.btn--primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 12.5rem; /* 200px */
  max-width: 18.75rem;
  min-height: 3.125rem; /* 50px */

  font-weight: 700;
  line-height: 1.875; /* identical to box height, or 187% */
  color: var(--color-white);
  letter-spacing: 0.06em;

  background-color: var(--color-accent);
  box-shadow: var(--shadow-hero-btn);

  // Hero-Button (Hover)
  &:focus,
  &:hover {
    @extend %btn--primary-active;
  }
}

/* START "Фильтры-Кнопки" - Все, Веб-сайты, Приложения, Дизайн, Маркетинг */

/* Вторичная кнопка: цвет - темный #212121, фон - серый #f5f4fa, + тень динамическая по наведению */
.btn--secondary {
  color: var(--color-text-primary);
  background-color: var(--color-bg-btn-secondary);
  box-shadow: none;

  transition: color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);

  &:hover,
  &:focus {
    @extend %btn--secondary-active;
  }
}

.current-btn {
  @extend %btn--secondary-active;

  &:focus,
  &:hover {
    @extend %btn--primary-active;
  }
}

/* END "Фильтры-Кнопки" */
