/* START "Ссылки на соц. сети" */
.social-list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: -1rem;
  margin-left: -0.625rem;
}

.social-list__item {
  margin-top: 1rem;
  margin-left: 0.625rem;
}

.social-list__link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem;

  color: var(--color-icon);

  background-color: var(--color-white);
  border-radius: 50%;

  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic);

  &:focus,
  &:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
}

.social-list__icon {
  fill: currentColor;

  .social-list__link:focus &,
  .social-list__link:hover & {
    animation-name: rotate-box;
    animation-duration: var(--time);
    animation-timing-function: var(--cubic);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
}
/* END "Ссылки на соц. сети" */
