/* team */
.designers-list {
  @extend %list;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

/* team card 1-4 or "designer card" */
.designers-list__item {
  flex-basis: calc(100% / var(--cards-per-line-4) - var(--uni-margin));
  flex-grow: 1; /* for mobile */

  min-width: rem(250px); /* 15.625rem */
  max-width: rem(450px); /* 28.125rem */
  min-height: rem(428px); /* 26.75rem */
  max-height: rem(679.2px); /* 42.45rem */

  margin-top: var(--uni-margin); /* 30px top and left */
  margin-left: var(--uni-margin);

  word-wrap: break-word;

  @include mq($tablet, $desktop) {
    max-width: rem(354px); /* 22.125rem */
  }

  @include mq($desktop) {
    max-width: rem(270px); /* 16.875rem */
  }
}
