/* Тип проекта: Веб-сайт, Дизайн, Приложение, Маркетинг, h30px */
.portfolio-card__type {
  min-height: var(--uni-margin);
  max-height: calc(var(--line-height-project-type) * 1rem * 2);

  margin-bottom: rem(4px); /* 0.25rem */
  overflow: hidden;

  font-size: rem(16px); /* from body font-weight: 400; */
  line-height: var(--line-height-project-type); /* 1.88 = 30px = box */
  color: var(--color-text-secondary); /* color: #757575; */

  &:hover,
  &:focus,
  &:active {
    overflow-y: auto;
  }
}
